{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  {% if post.image %}
    <div class="ml-2 mb-2 float-right w-xs-100 w-sm-50 text-right" style="font-size: 0.6rem;">
      <img class="w-100" src="{{ post.image|asseturl }}" />
      {{ post.img_attribution }}
    </div>
  {% endif %}
  {{ post.body }}
  </div>
{% endmacro %}
