<!doctype html>
<meta charset="utf-8" />
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' https://uniqx.gitlab.io/mmow-test-site/; img-src 'self' 'unsafe-inline' data:; style-src 'self' 'unsafe-inline'; script-src 'self'; worker-src 'self';" />
<link rel="stylesheet" href="{{ '/css/bootstrap-4.2.1.min.css'|url }}" />
<link rel="stylesheet" href="{{ '/css/main.css'|url }}" />
<link rel="icon" href="data:;base64,iVBORw0KGgo="> {# no favicon.ico thanks #}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script defer src="{{ '/libresilient.js'|url }}"></script>

<title>{% block title %}Welcome{% endblock %} — MMOW Test Site</title>
<body>
  <div class="container">
    <header class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <a href="{{ '/'|url }}" class="text-reset">
            <h1 style="padding-top: 32px; padding-bottom: 32px;">MMOW Test Site</h1>
          </a>
        </div>
      </div>
    </header>
    <nav class="row">
      <div class="col-12" style="padding-bottom: 16px; margin-bottom: 32px;">
        <ul class="nav nav-tabs justify-content-center">
          {# <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">Welcome</a></li> #}
          {% for href, title in [
            ['/blog', 'Blog'],
            ['/projects', 'Projects'],
            ['/about', 'About']
          ] %}
            <li class="nav-item">
              <a class="nav-link{% if this.is_child_of(href) %} active{% endif %}" href="{{ href|url }}">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <main class="row">
      <div class="col-12">
        {% block body %}{% endblock %}
      </div>
    </main>
    <footer class="row" style="margin-top: 4rem; margin-bottom: 2rem;">
      <div class="col-12">
        &copy; Copyright 2022 by Michael Pöhn. CC-BY-SA-4.0
      </div>
    </footer>
  </div>
<body>
